<!--<link rel="stylesheet" type="text/css" href="/repositories.scss" />-->


<table>
  <tr style="vertical-align:top">
    
    <td style="width:15%; border-right:1px solid gray; padding-right:12px; text-align:justify">
      <a href="/repositories/new"><img src="<%=asset_path 'Repository/button.png'%>"/><br></a>
      <a href="/trips/new"><img src="<%=asset_path 'Repository/planButton.png'%>"/><br></a>
      <a href="/trips"><img src="<%=asset_path 'Repository/Trip_Management.png'%>"/><br></a>
      <% @repositories.each do |repository| %>
        <a href="/trips?id=<%= repository.id %>">ㅁ <%= repository.title %> <br></a>
      <% end %>
    </td>

    <td style="padding-left:10px">
      
      <div class="container">
        <div class="row">
            <% @repositories.each do |repository| %>
              <div class="col-sm-4">
                 <p><%= repository.title %></p>
                 <a href="/repositories/<%= repository.id %>/trips"> 
                   <%= image_tag(repository.img.url, style: 'width: 300px; height: 300px')%>
                 </a>
              </div>
            <% end %>
          </div>
      </div>
      
    </td>
  </tr>
</table>






