<style>

  #left {
      width: 15%;
      height: 100%;
      float: left;
      /*background: #FFD700;*/
  }
  
  #cen {
      width: 0.1%;
      height: 100%;
      float: left;
      background: #000000;
  }

  #right {
      width: 83%;
      height: 100%;
      float: left;
      /*background: #FFA500;*/
  }
  
  .btn {
    cursor:pointer;
  }
  
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  
  /*td {*/
  /*  border: 10px solid #444444;*/
  /*}*/
  
</style>

<p id="notice"><%= notice %></p>

<%= current_user.email %> 님 환영합니다. 
<a href="/users/sign_out" data-method="delete">로그아웃</a>


<h1>My Repositories</h1>


<body>



  <div style="100%">
    <div id="left">
      <%= link_to '[ New Repository] ', new_repository_path %><br>
        <img src="<%=asset_path 'Repository/button.png' %>" alt="" onclick="clickBtn();" />
      <%= link_to '[ New Plans ]', new_trip_path %></div>
    <div id="cen"> &nbsp</div>
    
    
    <div id="right">
        <table>

        
          <tbody>
            <% @repositories.each do |repository| %>
              <tr>
                
                  <!--<td><%#= repository.user_id %></td>-->
                  
                  <td>RepositoryID : <%= repository.id %><br>
                      <%= repository.title %><br>
                  <a href="/trips?id=<%= repository.id %>"><img src="<%= repository.img.url %>"/><br></a>
                
                
                  <%= link_to 'Show', repository %>
                  <%= link_to 'Edit', edit_repository_path(repository) %>
                  <%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %>
                
              </tr>
            <% end %>
          </tbody>
        </table>
        
        
        <br>
    
    </div>
      
      
  <div>    

    


</body>
