
<p id="notice"><%= notice %></p>

<%= current_user.email %> 님 환영합니다. 
<a href="/users/sign_out" data-method="delete">로그아웃</a>


<h1>My Repositories</h1>


  <div style="100%">
    <div id="left">
      
      <a><img src=""></a>
      
        <a href="/repositories/new"><img src="<%=asset_path 'Repository/button.png'%>"/><br></a>
      
    </div>
    <div id="cen"> &nbsp</div>
    <div id="right">
      
        <table>
          <tbody>
            <% @repositories.each do |repository| %>
              <tr>
                
                  <!--<td><%#= repository.user_id %></td>-->
                  
                  <td>RepositoryID : <%= repository.id %><br>
                      <%= repository.title %><br>
                  <a href="/trips?id=<%= repository.id %>"><img src="<%= repository.img.url %>"/><br></a></td>
                
                
                  <%= link_to 'Show', repository %>
                  <%= link_to 'Edit', edit_repository_path(repository) %>
                  <%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %>
                
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
    
    </div>
  </div>    
