<!DOCTYPE html>
<html>
<head>
  <title>Trace</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>      <!-- #, 'data-turbolinks-track' => true -->
	<%= stylesheet_link_tag    "#{params[:controller]}", media: 'all' %>
	<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8302d30f7ab096112b3c0d0bcaafe010&libraries=services,clusterer,drawing"></script>-->
 	<%= javascript_include_tag 'application'%>
 	<%= csrf_meta_tags %>

  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
  	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>
  
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js"></script>-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
   
</head>
<body>


	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
				Loader Start
	*************************************-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>
	<!--************************************
				Loader End
	*************************************-->
	<!--************************************
			Mobile Menu Start
	*************************************-->
	<nav id="menu">
		<ul>
			<li><a href="javascript:void(0);">Home</a>
				<ul>
					<li><a href="index.html">Home ~ Modern</a></li>
					<li><a href="indexv2.html">Home ~ Full Screen</a></li>
					<li><a href="indexv3.html">Home ~ Creative</a></li>
					<li><a href="indexv4.html">Home ~ Simple</a></li>
					<li><a href="indexv5.html">Home ~ Video</a></li>
				</ul>
			</li>
			<li><a href="/maptest">Destinations</a></li>
			<li><a href="javascript:void(0);">Listings</a>
				<div>
					<ul>
						<li><a href="listingvone.html">list style one</a></li>
						<li><a href="listingvtwo.html">list style two</a></li>
						<li><a href="listingvthree.html">list style three</a></li>
						<li><a href="listingvfour.html">list style four</a></li>
						<li><a href="listingvfive.html">list style five</a></li>
						<li><a href="listingvsix.html">list style six</a></li>
					</ul>
					<div class="tg-sliderarea">
						<h2>Popular Tours</h2>
						<div class="tg-trendingtripsslider tg-trendingtrips owl-carousel">
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="<%=asset_path 'tours/img-05.jpg' %>" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="<%=asset_path 'tours/img-06.jpg' %>" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="<%=asset_path 'tours/img-07.jpg' %>" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="<%=asset_path 'tours/img-08.jpg' %>" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li><a href="javascript:void(0);">Pages</a>
				<ul>
					<li><a href="faqs.html">FAQ’s</a></li>
					<li><a href="packages.html">Table</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><a href="contactus.html">Contact us</a></li>
					<li><a href="billingdetail.html">Billing Detail</a></li>
					<li><a href="404error.html">404 Error</a></li>
					<li><a href="comingsoon.html">Coming Soon</a></li>
					<li><a href="cart.html">cart</a></li>
					<li>
						<a href="javascript:void(0);">Tours</a>
						<ul>
							<li><a href="tourcatagory.html">Tour Catagory</a></li>
							<li><a href="tourbookingdetail.html">Tour Detail</a></li>
							<li><a href="tourpaymentdetail.html">Tour Payment</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="javascript:void(0);">Shop</a>
				<ul>
					<li><a href="shop.html">Shop</a></li>
					<li><a href="shopdetail.html">Shop Detail</a></li>
					<li><a href="cart.html">Cart</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0);">Blog</a>
				<ul>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="blogdetail.html">Blog Detail</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!--************************************
			Mobile Menu End
	*************************************-->





	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-headervthree tg-haslayout">
			<div class="container-fluid">
				<div class="row">
					<div class="tg-topbar">
						<nav class="tg-infonav">
							<ul>
								<li>
									<i><img src="<%=asset_path 'icons/icon-01.png' %>" alt="image destinations"></i>
									<span>1-800-321-6543</span>
								</li>
								<li>
									<i><img src="<%=asset_path 'icons/icon-02.png' %>" alt="image destinations"></i>
									<span>CHOOSE YOUR EXPERIENCE <a href="javascript:void(0);">Discover more</a></span>
								</li>
							</ul>
						</nav>
						<div class="tg-addnavcartsearch">
							<nav class="tg-addnav">
								<ul>
									<li><a href="javascript:void(0);">about</a></li>
									<li><a href="javascript:void(0);">contact</a></li>
								</ul>
							</nav>
							<nav class="tg-cartsearch">
								<ul>
									<li>
										<a href="javascript:void(0);"><img src="<%=asset_path 'icons/icon-03.png' %>" alt="image destinations"></a>
										<div class="tg-cartitems">
											<div class="tg-cartlistitems">
												<h3>Shopping Cart</h3>
												<div class="tg-cartitem">
													<figure class="tg-itemimg"><img src="<%=asset_path 'products/img-11.jpg' %>" alt="image description"></figure>
													<div class="tg-contentbox">
														<div class="tg-producthead">
															<em>x 2</em>
															<h4><a href="javascript:void(0);">Switzerland – 12 Days<span>Hiking Tour</span></a></h4>
														</div>
														<span>$600</span>
													</div>
												</div>
												<div class="tg-cartitem">
													<figure class="tg-itemimg"><img src="<%=asset_path 'products/img-11.jpg' %>" alt="image description"></figure>
													<div class="tg-contentbox">
														<div class="tg-producthead">
															<em>x 2</em>
															<h4><a href="javascript:void(0);">Switzerland – 12 Days<span>Hiking Tour</span></a></h4>
														</div>
														<span>$600</span>
													</div>
												</div>
												<div class="tg-subtotal">
													<h2>Subtotal</h2>
													<span>$830</span>
												</div>
											</div>
											<div class="tg-btnarea">
												<a class="tg-btn" href="#"><span>view cart</span></a>
											</div>
										</div>
									</li>
									<li><a href="#tg-search"><img src="<%=asset_path 'icons/icon-04.png' %>" alt="image destinations"></a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="tg-navigationarea tg-headerfixed">
						<strong class="tg-logo"><a href="https://trace-hhw1990.c9users.io/"><img src="<%=asset_path 'logo.png' %>" alt="company logo here"></a></strong>
						<div class="tg-socialsignin">
							<ul class="tg-socialicons">
								<!--<li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>-->
								<li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
								<!--<li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>-->
								<li><a href="/repositories"><i class="fas fa-user-edit"></i></a></li>
								<!--<li><a href="javascript:void(0);"><i class="far fa-save"></i></a></li>-->
								<li><a href="/trips"><i class="fas fa-street-view"></i></a></li>
							</ul>
							
							<div class="tg-userbox">
								<% unless user_signed_in? %>	
								<a id="tg-btnsignin" class="tg-btn" href="#tg-loginsingup"><span>sign in1</span></a>
								<% else %>
								<div class="dropdown">  <!--tg-dropdown-->
									<button class="tg-btndropdown" id="tg-dropdowndashboard" type="button" data-toggle="dropdown">
										<img src="<%=asset_path 'author/img-01.jpg' %>" alt="image description">
										<span><%=current_user.email%></span>
										<i class="fa fa-caret-down"></i>
									</button>
									<ul class="dropdown-menu tg-dropdownusermenu" aria-labelledby="tg-dropdowndashboard">
										<li><a href="/home/profile">Edit Profile</a></li>
										<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
									</ul>
								</div>
								<% end %>
								
							</div>
							
						</div>
						<nav id="tg-nav" class="tg-nav">
							<div class="navbar-header">
								<a href="#menu" class="navbar-toggle collapsed">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a>
							</div>
							<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
								<ul>
									<li class="menu-item-has-children current-menu-item"><a href="javascript:void(0);">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home ~ Modern</a></li>
											<li><a href="indexv2.html">Home ~ Full Screen</a></li>
											<li class="current-menu-item"><a href="indexv3.html">Home ~ Creative</a></li>
											<li><a href="indexv4.html">Home ~ Simple</a></li>
											<li><a href="indexv5.html">Home ~ Video</a></li>
										</ul>
									</li>
									<li><a href="/maptest">destinations</a></li>
									<li class="menu-item-has-children menu-item-has-mega-menu"><a href="javascript:void(0);">listings</a>
										<div class="mega-menu">
											<ul>
												<li><a href="listingvone.html">list style one</a></li>
												<li><a href="listingvtwo.html">list style two</a></li>
												<li><a href="listingvthree.html">list style three</a></li>
												<li><a href="listingvfour.html">list style four</a></li>
												<li><a href="listingvfive.html">list style five</a></li>
												<li><a href="listingvsix.html">list style six</a></li>
											</ul>
											<div class="tg-sliderarea">
												<h2>Popular Tours</h2>
												<div class="tg-trendingtripsslider tg-trendingtrips owl-carousel">
													<div class="item tg-trendingtrip">
														<figure>
															<a href="javascript:void(0);">
																<img src="<%=asset_path 'tours/img-05.jpg' %>" alt="image destinations">
																<div class="tg-hover">
																	<span class="tg-stars"><span></span></span>
																	<span class="tg-tourduration">7 Days</span>
																	<span class="tg-locationname">Paris</span>
																	<div class="tg-pricearea">
																		<span>from</span>
																		<h4>$600</h4>
																	</div>
																</div>
															</a>
														</figure>
													</div>
													<div class="item tg-trendingtrip">
														<figure>
															<a href="javascript:void(0);">
																<img src="<%=asset_path 'tours/img-06.jpg' %>" alt="image destinations">
																<div class="tg-hover">
																	<span class="tg-stars"><span></span></span>
																	<span class="tg-tourduration">7 Days</span>
																	<span class="tg-locationname">Paris</span>
																	<div class="tg-pricearea">
																		<span>from</span>
																		<h4>$600</h4>
																	</div>
																</div>
															</a>
														</figure>
													</div>
													<div class="item tg-trendingtrip">
														<figure>
															<a href="javascript:void(0);">
																<img src="<%=asset_path 'tours/img-07.jpg' %>" alt="image destinations">
																<div class="tg-hover">
																	<span class="tg-stars"><span></span></span>
																	<span class="tg-tourduration">7 Days</span>
																	<span class="tg-locationname">Paris</span>
																	<div class="tg-pricearea">
																		<span>from</span>
																		<h4>$600</h4>
																	</div>
																</div>
															</a>
														</figure>
													</div>
													<div class="item tg-trendingtrip">
														<figure>
															<a href="javascript:void(0);">
																<img src="<%=asset_path 'tours/img-08.jpg' %>" alt="image destinations">
																<div class="tg-hover">
																	<span class="tg-stars"><span></span></span>
																	<span class="tg-tourduration">7 Days</span>
																	<span class="tg-locationname">Paris</span>
																	<div class="tg-pricearea">
																		<span>from</span>
																		<h4>$600</h4>
																	</div>
																</div>
															</a>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="menu-item-has-children"><a href="javascript:void(0);">pages</a>
										<ul class="sub-menu">
											<li><a href="faqs.html">FAQ’s</a></li>
											<li><a href="packages.html">Table</a></li>
											<li><a href="aboutus.html">About Us</a></li>
											<li><a href="contactus.html">Contact us</a></li>
											<li><a href="billingdetail.html">Billing Detail</a></li>
											<li><a href="404error.html">404 Error</a></li>
											<li><a href="comingsoon.html">Coming Soon</a></li>
											<li><a href="cart.html">cart</a></li>
											<li class="menu-item-has-children">
												<a href="javascript:void(0);">Tours</a>
												<ul class="sub-menu">
													<li><a href="tourcatagory.html">Tour Catagory</a></li>
													<li><a href="tourbookingdetail.html">Tour Detail</a></li>
													<li><a href="tourpaymentdetail.html">Tour Payment</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="shop.html">shop</a></li>
									<li><a href="blog.html">blog</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		
		

		
		
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	
	
	
<%= yield %>


</body>
</html>
